{% extends "base.html" %}

{% block content %}
    <h1>{{note.title}}{% if note.is_public %}<span class="bagde bg-secondary">Public</span>{% endif%}</h1>
    <p> {{note.text}}</p>
        <p>{{note.likes}} Likes</p>
        <form method="POST" class="d-inline" action="{% url 'notes.add_like' pk=note.id %}">

        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Upvote</button>
        </form>

        <form method="POST" class="d-inline" action="{% url 'notes.change_visibility' pk=note.id %}">

        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">
            {% if note.is_public %}
            Make is Private
            {%  else %}
            Make it Public
            {% endif %}
        </button>
        </form>
        <!-- <a href="{% url 'notes.add_like' pk=note.id %}" class="btn btn-primary mt-3">Upvote Notes</a> -->
        <a href="{% url 'notes.update' pk=note.id %}" class="btn btn-primary mt-3">Edit Notes</a>
        <a href="{% url 'notes.delete' pk=note.id %}" class="btn btn-primary mt-3">Delete Notes</a>

        <br>
        <a href="{% url 'notes.list' %}" class="btn btn-primary mt-3">Back to Notes</a>

 {% endblock %}